## Here we try to answer a few geographical questions with our data set.

In [3]:
import pandas as pd

DF = pd.read_csv('DATA/Democracy-Index.csv')

1) Which country has the smallest tower?

In [35]:
DF.loc[DF['Skyscraper']==DF['Skyscraper'].min(), ['Country','Skyscraper']]

   Country  Skyscraper
14  Bhutan        22.0

2) Which full democratic country (overall score > 8) has the highest tower?

In [36]:
DF_democratic = DF.loc[DF['Overall score'] > 8,['Country','Skyscraper']]
DF_democratic.loc[DF_democratic['Skyscraper']==DF_democratic['Skyscraper'].max(), ['Country','Skyscraper']]

     Country  Skyscraper
6  Australia       322.5

3) Which democratic country (overall score > 8) has the poorest press freedom?

In [42]:
DF_democratic = DF.loc[DF['Overall score'] > 8,['Country','PressF']]
DF_democratic.loc[DF_democratic['PressF']==DF_democratic['PressF'].max(), ['Country','PressF']]

      Country  PressF
94  Mauritius   28.46

4) Which authoritarian country has the best press freedom?

In [55]:
DF_authoritarian = DF.loc[DF['Overall score'] < 4,['Country','PressF']]
DF_authoritarian.loc[DF_authoritarian['PressF']==DF_authoritarian['PressF'].min(), ['Country','PressF']]

    Country  PressF
31  Comoros   27.91

Surprissingly, we can see that an authoritarian regime can have a better press freedom than a full democratic country.

5) What is the mean and the median of children in the authoritarian regimes?

In [7]:
DF_authoritarian = DF.loc[DF['Overall score'] < 4,['Country','Children']]
print('In the authoritarian countries, the mean of children per woman is' + ' ' +str(round(DF_authoritarian['Children'].mean(),1)) + ' ' +'and the meidan is' + ' ' +str(round(DF_authoritarian['Children'].median(),1))+'.')

In the authoritarian countries, the mean of children per woman is 3.3 and the meidan is 3.1.

6) Which country has the highest inequality?

In [54]:
DF.loc[DF['Gini']==DF['Gini'].max(), ['Country','Gini']]

          Country  Gini
133  South Africa  63.0

7) Which country has the lowest inequality?

In [58]:
DF.loc[DF['Gini']==DF['Gini'].min(), ['Country','Gini']]

     Country  Gini
153  Ukraine  25.0